<div class="container">
  <div class="title">
    <h1>新着Lists</h1>
  </div>
  <table class="table table-striped">
      <thead>
          <tr>
              <th>ユーザー名</th>
              <th>リスト名</th>
              <th>コンテンツ</th>
              <th></th>
              <th></th>
          </tr>
      </thead>
      <tbody>
        <% @lists.each do |list| %>
          <tr>
              <th><%= link_to list.user.name, "users/#{list.user.id}/lists" %></th>
              <td><%= link_to list.title, list %></td>
              <td><%= list.content %></td>
              <td><%= link_to '編集', edit_list_path(list) %></td>
              <td><%= link_to '削除', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>
