<div class="col-8 ml-auto mr-auto">
  <div class="title">
    <h1><%= @list.title %>のbook一覧</h1>
    <p><%= @list.content %></p>
  </div>

  <% @books.each do |book| %>
    <hr class="featurette-divider">
    <div class="book row">
      <div class="book-picture col-3">
          <%= link_to image_tag("https://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/1237/9784297101237.jpg?"), "/lists/#{@list.id}/books/#{book.id}" %>
      </div>
      <div class="col-2">
      </div>
      <div class="col-7">
        <h5>title:</h5>
        <p><%= book.title %></p>
        <h5>caption:</h5>
        <p>hello world! hello world! hello world! hello world! hello world! hello world!</p>
      </div>
    </div>
  <% end %>
  <hr class="featurette-divider">

  <div class="text-right my-5">
    <%= link_to 'Back', lists_path %> |
    <%= link_to 'book追加', search_list_books_path(@list) %>
  </div>
</div>


