<div class="container">
  <div class="title">
    <h1><%= @list.title %>のbook一覧</h1>
    <p><%= @list.content %></p>
  </div>


  <%= link_to 'Edit', edit_list_path(@list) %> |
  <%= link_to 'Back', lists_path %> |
  <%= link_to 'book追加', new_list_book_path(@list) %>
</div>

