<div class="col-8 ml-auto mr-auto">
  <div class="title">
    <h1><%= @list.title %>のbook一覧</h1>
    <p><%= @list.content %></p>
  </div>

  <%= link_to 'Back', lists_path %>
  <% if current_user == @list.user %>
    | <%= link_to 'book追加', new_list_book_path(@list) %>
  <% end %>

  <% @books.each do |book| %>
    <hr class="featurette-divider">
    <div class="book row">
      <div class="book-picture col-3">
          <%= link_to image_tag(book.imageurl), list_book_path(@list,book) %>
      </div>
      <div class="col-2">
      </div>
      <div class="col-7">
        <h5>title:</h5>
        <p><%= book.title %></p>
        <h5>caption:</h5>
        <p><%= book.caption %></p>
        <h5>comment:</h5>
        <p><%= book.comment %></p>
        <% if current_user == book.list.user %>
          <div class="text-right">
            <%= link_to '削除', list_book_path(@list, book), method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <hr class="featurette-divider">

  <div class="text-right my-5">
    <%= link_to 'Back', lists_path %>
    <% if current_user == @list.user %>
      | <%= link_to 'book追加', new_list_book_path(@list) %>
    <% end %>
  </div>
</div>
