<% if @items.present? %>
<h3>検索結果</h3>
  <% @items.each do |item| %>
    <div class="list" id='result' >
    <p>
      <%= image_tag(item.large_image_url, style: "width: 50px; height: 70px; display: inline-block;") %>
      <%= item.title %> ( <%= item.author %> )
    </div>
    <%= form_with(model: @book, url: { action: :create }, local: true) do |form| %>
      <% if @book.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@book.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

    <div class="field">
      <%= form.hidden_field :title, :value => item.title %>
      <%= form.hidden_field :author, :value => item.author %>
      <%= form.hidden_field :isbn, :value => item.isbn %>
      <%= form.hidden_field :caption, :value => item.item_caption %>
      <%= form.hidden_field :imageurl, :value => item.large_image_url %>
      <%= form.hidden_field :shopurl, :value => item.item_url %>
      <%= form.label :comment %>
      <%= form.text_field :comment %>
      <div class="actions" style="display:inline;">
        <%= form.submit class: "btn btn-outline-success my-2 my-sm-0" %>
      </div>
    </div>

    </p>
    <% end %>
  <% end %>
<% end %>