<header>
  <div class="container">
    <div class="header-left mt-3">
      <h3><%= link_to "bookma_app", root_path %></h3>
    </div>
    <ul class="nav justify-content-end">
      <% if user_signed_in? %>
        <li class="nav-item">
          <a><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></a>
        </li>
        <li class="nav-item">
          <a><%= link_to 'リスト作成', new_list_path %></a>
        </li>
        <li class="nav-item">
          <a><%= link_to 'ユーザー', user_path(current_user) %></a>
        </li>
        <li class="nav-item">
          <a><%= link_to 'マイリスト', lists_path %></a>
        </li>
      <% else %>
        <li class="nav-item">
          <a><%= link_to "ログイン", new_user_session_path %></a>
        </li>
        <li class="nav-item">
          <a><%= link_to "サインアップ", new_user_registration_path %></a>
        </li>
      <% end %>
    </ul>
  </div>
</header>
